absl_py==2.5.0+computecanada
ai4ts==0.0.3
asttokens==3.0.1+computecanada
benchpots==1
certifi==2024.6.2
charset-normalizer==3.5.1
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.19+computecanada
decorator==5.2.1+computecanada
einops==0.8.2+computecanada
executing==2.2.1+computecanada
filelock==3.32.4
fonttools==4.61.1+computecanada
fsspec==2026.7.0+computecanada
geographiclib==2.1+computecanada
geopy==2.4.1+computecanada
greenlet==3.3.1+computecanada
grpcio==1.82.1+computecanada
h5py==3.16.0+computecanada
hf_xet==1.6.0+computecanada
huggingface_hub==0.36.2+computecanada
idna==3.19
ipykernel==7.1.0+computecanada
ipython==9.9.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.8+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.3+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
jupyterlab_widgets==3.0.16+computecanada
kiwisolver==1.4.9+computecanada
llvmlite==0.47.0+computecanada
markdown==3.10.3+computecanada
markupsafe==3.0.3+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
mpmath==1.3.0+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.6.1+computecanada
nonlinear_benchmarks==1.0.1
nose==1.3.7+computecanada
numba==0.65.1+computecanada
numpy==2.4.2+computecanada
packaging==26.0+computecanada
pandas==3.0.0+computecanada
parso==0.8.5+computecanada
pexpect==4.9.0+computecanada
pillow==12.1.0+computecanada
platformdirs==3.11.0+computecanada
polars==1.41.1+computecanada
polars_runtime_32==1.41.1+computecanada
progressbar==2.5+computecanada
prompt_toolkit==3.0.52+computecanada
protobuf==7.36.0
psutil==7.2.2+computecanada
psycopg2==2.9.10+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/25.0.0/GCCcore-14.3-gentoo/arrow/python
pygments==2.19.2+computecanada
pygrinder @ file:///project/6026434/btcrchum/data_pipeline/pygrinder-0.7-py3-none-any.whl#sha256=aef8ccf6ccd5f537ca76078230cf8c22303c6af0379f5b37ba6ce68c7c75dbd0
pyparsing==3.3.2+computecanada
pypots @ file:///project/6026434/btcrchum/data_pipeline/pypots-1.5-py3-none-any.whl#sha256=913d13073074f2aab96c697bc2d4ec13b5420df0af9f33a32311dfe994a7e0cd
pyproj @ file:///tmp/ebuser/avx512/PROJ/9.4.1/GCCcore-12.3-gentoo/pyproj/pyproj-3.6.1
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
pyyaml==6.0.3+computecanada
pyzmq==27.1.0+computecanada
rarfile==4.5
regex==2026.1.15+computecanada
requests==2.34.2+computecanada
resampy==0.4.3+computecanada
safetensors==0.8.0+computecanada
scikit_learn==1.8.0+computecanada
scipy==1.17.0+computecanada
seaborn==0.13.2+computecanada
six==1.17.0+computecanada
sqlalchemy==2.0.51+computecanada
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
tabulate==0.10.0+computecanada
tensorboard==2.21.0+computecanada
tensorboard_data_server==0.7.2+computecanada
threadpoolctl==3.6.0+computecanada
tokenizers==0.22.2+computecanada
torch==2.13.0+computecanada
tornado==6.5.4+computecanada
tqdm==4.70.0+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.6+computecanada
tsdb==0.8
typing_extensions==4.15.0+computecanada
tzdata==2025.3+computecanada
urllib3==2.7.0+computecanada
wcwidth==0.5.2+computecanada
werkzeug==3.1.8+computecanada
widgetsnbextension==4.0.15+computecanada
